{%extends 'record/base.html'%}
{%block content%}

<div class="container">
    <div class="row">
        <div class="col-md-7">
            <p>Employee Management System is a ready source of information. It performs as a readily
            available source of information between the organization and the employee. Contact information,
            salary information, posts, work schedule, education information etc. is what most database systems consist of.
            </p>
        </div>
    </div>
</div>
{%endblock content%}